div{
	float:left;
	border: solid #000 3px;
	text-align:left;
}
#header{
	width:100%;
	border: 0px;
	height:50px;
}

#main{
	background-color: gray;
	height: 500px;
}


.guess_box{
	height:245px;
}


.my_hover{
	border: solid #50b2ff 3px;
}

.discount{
	border: solid #98ff48 3px;
}

.no_discount{
	border: solid #ff6f40 3px;
}